docker/
Makefile
requirements.txt
Dockerfile
docker-compose.yml

frameworks/
python/
__init__.py
requirements.txt
setup.py
javascript/
index.js
package.json

libraries/
numpy/
setup.py
pipreqs

tools/
makefile
npm/
package.json
kubernetes/
deployment.yaml
service.yaml
